.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}



.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none ;
    font-weight: 300;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-icon-link,
.header__navbar-item-link,
.header__navbar-item {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item--separate:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086 ;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}


.header__navbar-title--no-pointer {
    cursor: text;
    color: #fff;
}


 /* Header with search  */

.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    align-items: center;
    display: flex;
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header__cart {
    text-align: center;
    width: 150px;
}

.header__cart-wrap {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(216, 216, 216);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-no-cart-img {
    width: 50%;
}

.header__cart-list-no-cart-msg {
    display: block;
    font-size: 1.4rem;
    margin-top: 16px;
    color: var(--text-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 8px;
}


/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none; 
    animation: fadeIn ease 1.2s;
}  

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link {

}

.header__qr-download-img {
    height: 18px ;
}


/* Notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color:  var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -26px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;

}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color) ;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;


}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {

}


.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-img {
    width: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 2.8rem;
    color: #555;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* authen modal */

.auth-form {
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form_heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem ;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;

}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
} 

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {     
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    color: var(--white-color);
    background-color: #3a5a9b;
}

.auth-form__socials--fb .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--gg .auth-form__socials-icon {

}
.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--gg {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    color: #939393 ;
    font-size: 1.4rem ;
    text-decoration: none;
}

.auth-form__help-seperate { 
    display: block;
    height: 22px;
    margin: 0 16px ;
    border-left: 1px solid #EAEAEA ;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #999;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color:  #ec593c;
    cursor: pointer;
}


.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    margin-top: 8px;
    padding: 8px 8px;
    overflow: hidden;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color) ;
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);  
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(216, 216, 216);
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: rgb(216, 216, 216);
}


.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

