/* Mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }

    #nav  {
        display: block;
    }

    #nav > li {
        padding: 1px 24px;
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
     
    #content .member-img {
        width: 60%;
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .contact-form {
        margin-top: 20px;
    }

    .s-mt-8 {
        margin-top: 8px;
    }
    
}

/* Tablet */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px ;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

}

/* PC */
@media (max-width: 1024px) {

}