/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

/* Header */

#header {
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
}

#nav, .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}


#nav > li:hover > a ,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none; 
    min-width: 16px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}


#header .search-icon {
    color: #fff;
    font-size: 20px ;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/F1/assets/img/Slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: relative ;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 18px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 40px;

}




/* Content */

#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto ;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 46px;
    margin-top: 25px;
}

#content .section-sub-heading {
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}

#content .member-list {
    padding-top: 48px;
    overflow: hidden;
}

#content .member-item {
    float: left;
    width: 33.333333333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px ;
}

/* Tour section */

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}


.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}


.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50% ;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* Footer */

#footer {

}